h1 {
    text-align:center;
}

.art1 {
    position:absolute;
    height: 37vh;
    width:59vw;
    margin-right:40vw;
}
.art2 {
    position:absolute;
    height:37vh;
    width:39vw;
    margin-left:60vw;
    margin-top:-15vw;
}

.art3 {
    position: absolute;
    height:37vh;
    width:33vw;
    margin-right:60vw;
    margin-top:0vw;
}

.art4 {
    position: absolute;
    height:37vh;
    width:33vw;
    margin-left:35vw;
}

.art5 {
    position: absolute;
    height: 37vh;
    width:33vw;
    margin-left:70vw;
}