body {
     margin:0;
 }
 
 nav > p {
    background-color:blue;
    color:blue;
    height:10vh;
    margin:0;
}

main {
    background-color:green;
    color:green;
    height: 100%;
    width: 100%;
    margin:0;
}

footer > p {
    background-color:red;
    color:red;
    height:15vh;
    margin:0;
}

.col1 {
    background-color:yellow;
    color:yellow;
    height: 25vh;
    width: 30%;
    margin:0;
    position: relative;
    top: 25vh; left: 5vh;
}

.col2 {
    background-color:yellow;
    color: yellow;
    height: 25vh;
    width: 30%;
    margin:2em;
    position: relative;
    top: 0vh; left: 65vh;
}

.col3 {
    background-color:yellow;
    color: yellow;
    height:25vh;
    width: 30%;
    margin:2em;
    position: relative;
    top: -25vh; left: 130vh;
}